<h1>About Me</h1>

<img src="../images/KimberlyLewisColorrsz.jpg" class="aboutpic" />

<div class="aboutbox">
<p>At the end of my life I do not want to be that person who looks out over their empire, knowing I'd made a lot of money. I want my work to impact 
  lives. I want to build things that empower people and assist in social change. I want my community to be enriched because I wrote code.</p>

<p>I'm a programmer and knitter who is currently based out of Nashville, TN. I started teaching myself to code in 2013, and in the fall of 2014 I started
  my apprenticeship at <a href="http://nashvillesoftwareschool.com/">Nashville Software School.</a> I started work on "The Athletic Knitter," a book of
  knitting patterns based around athleticware in January of 2015, and I anticipate publishing the e-book to Ravelry by the end of 2016.</p>
  
<p>I'm a science and technology enthusiast with a passion for computers. I started teaching myself how to build computers and circuit boards in the fall 
   of 2014, and have recently started working with Arduino Microcontrollers. I want to share this passion and knowledge with the world, and have started
   volunteering with the Nashville Public Library to teach programming to kids in a fun way that plays to their inherent interests.</p>
</div>


