<h1>Contact Me</h1>

<p>Want to drop me a line? Fill out this lovely email form right here and I'll get right back to you.</p>

<form
action="mailto:kblewis.flt@gmail.com"
enctype="text/plain">
  Name:<br />
  <input type="text" name="name" placeholder="Your Name" /><br />
  Email:<br />
  <input type="text" name="mail" placeholder="Your Email" /><br />
  Content:<br />
  <textarea rows="10" cols="50" name="content" placeholder="Your message"></textarea><br />
  <button class="btn-primary" type="submit">Send</button>
  <button class="btn-primary" type="reset">Clear</button>
</form>

<p>I can also be found on <a href="www.linkedin.com/in/thatknitter/en">LinkedIn</a> and <a href="https://github.com/thatknitter">GitHub</a>.</p><br />
<br />