<h1>Things I've Made</h1>

<a href="https://github.com/thatknitter/healthfull_eating">HealthFULL Eating</a>
<p>HealthFull Eating is a site I started work on in 2013. It focuses on educating families on food and the "whys" of nutrition. Instead of saying "eat
  this, because it's good for you, and don't ask questions," it shows you the science of why foods are good or bad for you, from insulin and antioxidants,
  to the fundamental chemistry of fats and vitamins. It starts you cooking healthy, delicious foods that kids will love, and shows you how to transition
  to a healthier lifestyle without causing mutiny in the ranks.</p>
  
<p>I have also written several articles for the site.</p>

<strong>Lanugages Used:</strong>
<ul>
  <li>AngularJS</li>
  <li>jQuery</li>
  <li>HTMl</li>
  <li>CSS</li>
  <li>ASP.Net MVC</li>
</ul>

<a href="https://github.com/thatknitter/northwest_hearing">Northwest Hearing</a>

<p>Because he is awesome, my stepfather (who I affectionately refer to as "John-Dad") helped me out during my six months at Nashville Software School. 
  He is also an audiologist for most of the northwest corner of Colorado. This is the website I built him.</p>
  
  <strong>Languages Used:</strong>
  <ul>
    <li>AngularJS</li>
    <li>HTML</li>
    <li>CSS</li>
  </ul>
  
<a href="http://www.thatknitter.com/wunderground">Weather</a>

<p>I know. Such an original and creative name! This is a weather app I built for the web, utilizing Wunderground's API.</p>

<strong>Languages Used:</strong>
<ul>
  <li>HTML</li>
  <li>CSS</li>
  <li>JavaScript</li>
</ul>

<a href="http://www.thatknitter.com/NSChess">NSS Chess</a>

<p>This was a group project I worked on with <a href="https://github.com/colbydehart">Colby DeHart</a>, 
  <a href="https://github.com/CharisseL">Charisse Lambert</a>, and <a href="https://github.com/davidgvns">David Givens.</a> We built a chess game for the 
  web. It even has some fan boards because we felt like it.</p>
  
  <strong>Languages Used:</strong>
  <ul>
    <li>HTML</li>
    <li>CSS</li>
    <li>jQuery</li>
  </ul>
  
<a href="https://github.com/thatknitter/knit_designer">Knit Designer and Knit Designer Pro</a>

<p>This is a downloadable application for knitting pattern designers. Because every publisher in the knitting pattern industry thinks they are the "industry 
   standard", they all put out different sizing requirements. This can be confusing and difficult for a new designer, not to mention time consuming.</p>
   
<p>Knit Designer allows the pattern designer to knit one garment, put in the measurements, and it generates a series of sizes and stitch numbers based
  on what publisher the designer chooses. It also generates a blocking diagram and has a charting system for cable and lace patterns.</p>
  
  <strong>Languages Used:</strong>
  <ul>
    <li>C#</li>
    <li>Python is Coming Soon</li>
  </ul>
  
<a href="http://www.thatknitter.com/butthurt_report_form/">A... Special Form</a>

<p>We have all encountered someone out there who gets a little... offended at things they see on the internet. I made this off an image someone gave
  me just for them.</p>
  
<p>Note: I did this in an hour over my lunch break. It's a tad glitchy, and I don't intend to fix it.</p>