header.site-header {
  background-image: url('../images/yarnbackground3.JPG');
  background-size: 100% 200%;
  background-repeat: no-repeat;

  a.page-link {
    color: #FFFFFF;
    font-family: helvetica, arial, sans-serif;
  }
}

.page-content {
  background: #F2F0F0;
  
  p {
    font-family: verdana, helvetica, arial, sans-serif;
  }
  
  h1 {
    margin-top: -150px;
    float: right;
  }
}
