body {
  background-color: #f0e9d6;
  background-image: url(../images/church.png);
}

.header {
  background-color: #A0D9E5;
  height: 100px;
  margin-top: 10px;
  padding-top: 30px;
}

.header ul li {
  list-style-type: none;
  display: inline;
  padding: 1em;
  font-size: 18pt;
}

.container {
  background-color: #F5F5F5;
  border-radius: 10px;
  margin-top: 20px;
}

.footer {
  background-color: #A0D9E5;
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.footer ul li {
  list-style-type: none;
  font-size: 18pt;
}
